ul {
  font-family: Helvetica, Courier, Harial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffecd9;
}

li {
  float: left;
}

li a {
  display:block;
  color: #ff6666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.texto p{
  text-align: center;
  color:#111;  
  font-size: 20px; 
  padding-left: 15px;
  padding-right: 15px;
  margin-top:30px;
  position:relative;

}

body {  

  margin: 0px; 
  font-family: Helvetica, Courier, Harial;
  font-size: 20px

  .button {
  -moz-border-radius: 58px;
  -moz-box-shadow: #ff6666 0px 0px 26px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 58px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #ffecd9;
  background-image: -moz-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -ms-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -o-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -webkit-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: linear-gradient(90deg, #ffecd9, #ffecd9);
  border-radius: 58px;
  border: 4px solid #ff6666;
  box-shadow: #ff6666 0px 0px 26px;
  color: #ffffff;
  display: inline-block;
  font-size: 4em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #473333 5px 5px 15px;
  transition: all 0.5s ease;
}
.button:hover {
  padding: 15px;
}

}


.button {
  -moz-border-radius: 58px;
  -moz-box-shadow: #ff6666 0px 0px 26px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 58px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #ffecd9;
  background-image: -moz-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -ms-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -o-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: -webkit-linear-gradient(90deg, #ffecd9, #ffecd9);
  background-image: linear-gradient(90deg, #ffecd9, #ffecd9);
  border-radius: 58px;
  border: 4px solid #ff6666;
  box-shadow: #ff6666 0px 0px 26px;
  color: #ffffff;
  display: inline-block;
  font-size: 4em;
  margin: auto;
  padding: 15px;
  text-decoration: none;
  text-shadow: #473333 5px 5px 15px;
  transition: all 0.5s ease;
}
.button:hover {
  padding: 15px;
}





footer {
    font-family: Helvetica, Courier, Harial;
    position:absolute;
    font-weight: bold;
    color:#ff6666;
    background-color:#ffecd9;
    bottom:0;
    width:100%;
    height:20%;
    text-align:center;
    } 

footer p {
  padding-top:50px;
  padding-bottom: 10px;
}
